@using System.Reflection
@inject IWebHostEnvironment Env

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-core="modern">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" href="/favicon.svg" />

    @if (Env.IsDevelopment())
    {
        <link rel="stylesheet" href="/css/halfmoon.css" />
        <link rel="stylesheet" href="/css/halfmoon.modern.css" />
        <link rel="stylesheet" href="/css/blazor-ui.css" />        
    }
    else 
    {
        <link rel="stylesheet" href="/css/styles.min.css?v=@(version())" />
    }
    
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>

@code {
    string version () => Assembly.GetEntryAssembly()
    .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
    .InformationalVersion;
}