@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <strong class="fs-5 ms-auto">@context.User.Identity?.Name</strong>

        <form class="d-inline-block" method="post" action="logout" @onsubmit="OnSubmiLogout" @formname="UserLogout">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <strong class="fs-5 ms-auto">Sign In</strong>
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task OnSubmiLogout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}