@page "/"
@attribute [Authorize]
@inject ISportEventRepository SportEventRepository

<h3>Submit Activity</h3>

<EditForm method="post" Model="@EventInput" OnSubmit="OnSubmitEvent" Formname="SubmitEvent">
    <label>
        Time:
        <InputNumber @bind-Value="EventInput.Time" />
    </label>

    <label>
        Lengths:
        <InputNumber @bind-Value="EventInput.Laps" />
    </label>

    <button type="submit">Submit</button>
</EditForm>

@if (submitted)
{
    <p>Submit worked!!</p>
}

@code {
    bool submitted = false;

    [SupplyParameterFromForm]
    SportEventInput EventInput { get; set; } = new() { EventType = SportEventType.Swimming, };

    async Task OnSubmitEvent()
    {
        try
        {
            await SportEventRepository.AddEventAsync(EventInput);
            submitted = true;
        }
        catch (Exception ex)
        {
            // todo setup error handling
            Console.WriteLine("failed", ex.Message);
        }
    }
}
