@page "/"
@attribute [Authorize]
@inject ISportEventRepository SportEventRepository

<FormCard FormTitle="Submit Activity">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-warning">
            @errorMessage
        </div>
    }

    @if (submitted)
    {
        <div class="alert alert-success">Submitted!</div>
    }

    <EditForm method="post" Model="EventInput" OnSubmit="OnSubmitEvent" FormName="SubmitEvent">
        <label class="form-label" for="time">Time:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconTimer />
            </span>
            <InputNumber class="form-control" @bind-Value="EventInput.Time" id="time" required min="1" />
        </div>

        <label class="form-label" for="laps">Laps:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconSpeed />
            </span>
            <InputNumber class="form-control" @bind-Value="EventInput.Laps" id="laps" required min="1" />
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
</FormCard>

@code {
    string? errorMessage;
    bool submitted = false;

    [SupplyParameterFromForm]
    public SportEventInput EventInput { get; set; } = new() { EventType = SportEventType.Swimming, };

    public void OnSubmitEvent()
    {
        try
        {
            SportEventRepository.AddEvent(EventInput);
            submitted = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine("failed", ex.Message);
            errorMessage = ex.Message;
        }
    }
}
