@page "/login"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<FormCard FormTitle="Login">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-warning">
            @errorMessage
        </div>
    }

    <EditForm method="post" Model="LoginInput" OnSubmit="OnSubmitLogin" FormName="UserLogin">
        <label class="form-label" for="username">Username:</label>
        <InputText class="form-control mb-3" @bind-Value="LoginInput.Username" id="username" required />

        <label class="form-label" for="password">Password:</label>
        <InputText class="form-control mb-3" @bind-Value="LoginInput.Password" type="password" id="password" required />

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
</FormCard>

@code {
    string? errorMessage;

    [SupplyParameterFromForm]
    public AuthRequest LoginInput { get; set; } = new();

    public async Task OnSubmitLogin()
    {
        try
        {
            await AuthService.Login(LoginInput);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine("failed", ex.Message);
            errorMessage = ex.Message;
        }
    }
}
