@page "/login"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<section class="card">
    <div class="card-body">
    <h3 class="card-title">Login</h3>
    <EditForm method="post" Model="LoginInput" OnSubmit="OnSubmitLogin" FormName="UserLogin">
        <label class="form-label" for="username">Username:</label>
        <InputText class="form-control mb-3" @bind-Value="LoginInput.Username" id="username" required />

        <label class="form-label" for="password">Password:</label>
        <InputText class="form-control mb-3" @bind-Value="LoginInput.Password" type="password" id="password" required />

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
    </div>
</section>

@code {
    [SupplyParameterFromForm]
    public AuthRequest LoginInput { get; set; } = new ();

    public async Task OnSubmitLogin()
    {
        await AuthService.Login(LoginInput);

        NavigationManager.NavigateTo("/");
    }
}
