@page "/login"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm method="post" Model="LoginInput" OnSubmit="OnSubmitLogin" FormName="UserLogin">
    <label>
        Username:
        <InputText @bind-Value="LoginInput.Username" />
    </label>

    <label>
        Password:
        <InputText @bind-Value="LoginInput.Password" type="password" />
    </label>

    <button type="submit">Submit</button>
</EditForm>


@code {
    [SupplyParameterFromForm]
    AuthRequest LoginInput { get; set; } = new();

    async Task OnSubmitLogin()
    {
        try
        {
            await AuthService.Login(LoginInput);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            // todo setup error handling
            Console.WriteLine("failed", ex.Message);
        }
    }
}