@page "/register"

<FormCard FormTitle="Register">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-warning">
            @errorMessage
        </div>
    }

    <EditForm method="post" Model="NewUser" OnSubmit="OnSubmitRegister" FormName="UserRegister">
        <label class="form-label" for="username">Username:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconFace />
            </span>
            <InputText class="form-control" @bind-Value="NewUser.Username" id="username" required />
        </div>

        <label class="form-label" for="password">Password:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconLock />
            </span>
            <InputText class="form-control" @bind-Value="NewUser.Password" type="password" id="password" required />
        </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
</FormCard>
