@page "/update-password"
@attribute [Authorize]

<FormCard FormTitle="Login">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-warning">
            @errorMessage
        </div>
    }

    @if (submitted)
    {
        <div class="alert alert-success">Submitted!</div>
    }

    <EditForm method="post" Model="UpdateInput" OnSubmit="OnSubmitUpdate" FormName="UserUpdate">
@*         <label class="form-label" for="username">Username:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconFace />
            </span>
            <InputText class="form-control" @bind-Value="UpdateInput.Username" id="username" required />
        </div> *@


        <label class="form-label" for="password">Old Password:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconLock />
            </span>
            <InputText class="form-control" @bind-Value="UpdateInput.Password" type="password" id="password" required />
        </div>

        <label class="form-label" for="newPassword">New Password:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <IconLock />
            </span>
            <InputText class="form-control" @bind-Value="UpdateInput.NewPassword" type="password" id="newPassword" required />
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </EditForm>
</FormCard>