@inject IUserAuthService UserAuthService

<EditForm Model="@loginInput" OnValidSubmit="SubmitLogin">
    <label>
        Username:
        <InputText @bind-Value="@loginInput.Username" />
    </label>

    <label>
        Password:
        <InputText @bind-Value="@loginInput.Password" type="password" />
    </label>

    <button disabled="@loading" type="submit">
        Submit
    </button>
</EditForm>


@code {
    bool loading = false;

    AuthRequest loginInput = new AuthRequest { Username = "", Password = "" };

    async Task SubmitLogin()
    {
        loading = true;
        try
        {
            await UserAuthService.LoginAsync(loginInput);
            Console.WriteLine("Login success");
        }
        catch (Exception ex)
        {
            Console.WriteLine("failed", ex.Message);
        }
        loading = false;
    }
}